{% block subject %}
{% endblock %}

{% block text_body %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:

{{ protocol }}://frontend-restaurant-orcin.vercel.app/reset-password/{{ uid }}/{{ token }}

Your username, in case you've forgotten: {{ user.email }}

Thanks for using our site!

The Five Star Cafe team
{% endblock %}

{% block html_body %}
<p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>

<p>Please go to the following page and choose a new password:</p>

<p><a href="{{ protocol }}://frontend-restaurant-orcin.vercel.app/reset-password/{{ uid }}/{{ token }}">Reset Password</a></p>

<p>Your username, in case you've forgotten: {{ user.email }}</p>

<p>Thanks for using our site!</p>

<p>The Five Star Cafe team</p>
{% endblock %}